src/App.css

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: inherit;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body.light {
  --button-background: #5b548a;
  --button-hover: #00feba;
}

body.dark {
  --button-background: #555555;
  --button-hover: #666666;
}

body.shadow {
  --button-background: #888888;
  --button-hover: #999999;
}
